@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using crm_dotnet.Models.entity
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    LeadDepense leadDepense = (LeadDepense)ViewData["leadDepense"];
}
<div class="loader"></div>
    <div id="app">
        <div class="main-wrapper main-wrapper-1">
            @Html.Partial("_leftSideBar")
            <!-- Main Content -->
            <div class="main-content">
                <section class="section">
                    <div class="section-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>Modification du montant de Lead</h4>
                                    </div>
                                    <div class="card-body">
                                        <form asp-controller="Dashboard" asp-action="UpdateLead" method="post">
                                            <input type="hidden" name="id" value="@leadDepense.Id" required/>
                                           
                                            <div class="form-group">
                                                <label>Montant</label>
                                                <input class="form-control" type="number" name="montant" step="0.01" min="0" value="@leadDepense.Montant" required/>
                                            </div>
                                           
                                            
                                            <button type="submit" class="btn btn-primary">Modifier</button>
                                            <a asp-controller="Dashboard" asp-action="AffDetailsLeadDepense" class="btn btn-danger">Annuler</a>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>